/* CSS files add styling rules to your content */

body {
  font-family: "Lato", sans-serif;
  text-align: center;  
}

#appW {  
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;    
}
  #appMenuW {
    display: grid;
  }

  #appNavW {
    display: grid;    
    padding-top: 10%;        
  }
    #appNavControlW {
      display: grid;      
    }
    #appNavCoordW {
      display: grid;
    }
    #appNavStarsW {
      display: grid;      
    }    
    #appNavCalibW {
      display: grid;      
    }

  #appCommW {
    display: grid;
    grid-row: 2;
    padding-top: 10%;      
  }

.menuBtn {
  justify-content: center;
  align-items: center;    
  background-color: lightblue;
  cursor: pointer;  
  padding: 5%;
  margin: 10%;  
}

.direcBtn {
  display: flex;
  justify-content: center;
  align-items: center;    
  background-color: #f3d0d6;
  cursor: pointer;  
  padding: 5%;
  margin: 5%;  
} 
